<% if @current_meal_plan.present? %>
  <section><h1>today's menu</h1></section>
  <div class="cards">
    <%= render partial: 'meal_cards', locals: { meals: @todays_meals } %>
  </div>
  <section><h1>rest of the week</h1></section>
  <div class="cards">
    <%= render partial: 'meal_cards', locals: {meals: @meals_after_today } %>
  </div>
<% else %>
  <article>
    <section><h1>start your vegan week</h1></section>
    <section><p class="welcome-text">
      Are you ready to get started? <%= link_to "Click here", new_meal_plan_path %> to pick a starting date for your vegan week!</p></section>
  <% end %>
