<section><h1>recipes</h1></section>

<div class="cards">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      </div>
      <div class="card-header">
        <h2 class="recipe-title"><%= link_to recipe.name, recipe_path(recipe) %></h2>
      </div>
      <div class="card-copy">
        <p><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>
