<article>
<section><h1><%= @recipe.name %></h1></section>

<section>
  <h2 class="subheader"><%= @recipe.description %></h2>
</section>
<section class="recipe">
  <h5>Ingredients</h5>
  <p>
  </p>
  <h5>Instructions</h5>
  <p>
  <%= @recipe.instructions %>
  </p>
</section>
</article>
