<% if @errors.present? %>
  <section class="errors">
  <div class="flash-error">
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  </section>
<% end %>
