<article>
  <section>
    <h1>become vegan for a week</h1>
  </section>
  <section>
    <h2 class="subheader">I made this app for people who would like to try out a vegan diet for a week. It sets you up nicely with recipes for breakfast, lunch, and dinner for the whole week, as well as a grocery list.</h2>
  </section>
  <section>
    <p class="welcome-text">
    If you want to get started straight away, you can <%= link_to 'make an account', sign_up_path %>. You can also check out <%= link_to 'the recipes', recipes_path  %> I’ve written.
    </p>
  </section>
</article>
