header {
  @include grid-container;
  ul {
    @include grid-column(3);
    li {
      display: inline;
      margin-right: 10px;
      a {
        color: $light-gray;
        &.active {
          color: $primary;
        }
      }
    }
  }
  input {
    float: right;
  }
}
