@import "normalize-rails";
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans:300,400,700');
@import "bourbon";
@import "base/base";
@import "neat";
@import "partials/header";
@import "partials/page";
@import "refills/cards";
@import "refills/ribbon";
@import "refills/switch";
@import "refills/flashes";

body {
  margin: 20px 20px 20px 20px;
}

div.wrapper {
  width: 80%;
  margin: 0 auto;
}
